html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    width: fit-content;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: benton-modern-display, serif;
    font-weight: bold;
}

body p,
body span,
body a {
    font-family: din-2014, sans-serif;
    color: black;
    letter-spacing: 0.1em;
}

.firstBlur .fixed-nav {
    position: fixed !important;
    top: 0px;
    width: 100vw;
    z-index: 9999;
    background-color: black;
}

.firstBlur .second-tile {
    z-index: 1;
    margin-top: 17vh !important;
    position: relative;
}

.firstBlur .chairman-info {
    position: relative;
    overflow: hidden;
}

.firstBlur .chairman-info .zoom {
    animation: scale 20s linear infinite;
    width: inherit;
}

@keyframes scale {
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.firstBlur .chairman-info .sheet {
    position: absolute;
    z-index: 9;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #ef1c24 !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff !important;
}


/* .navbar-temp .navbar-container {
    display: grid;
    background-color: antiquewhite;
}

.navbar-temp .navbar-container .row.row-flex {
    display: grid;
    grid-template-columns: 20% 80%;
}

.navbar-temp .navbar-container .logo {
    width: 90%;
    margin: 0px 0px 0px 40px;
}

.navbar-temp .navbar-container .menu-main-menu-container-temp {
    float: right !important;
    padding-top: 65px;
}

.navbar-temp .navbar-container .menu-main-menu-container-temp li {
    display: inline-block;
    margin-right: 30px;
    position: static;
    float: left;
    padding: -1px 0px 0 0px;
}

.navbar-temp .navbar-container .menu-main-menu-container-temp li a {
    text-decoration: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
} */

.scrollable {
    transform: translateY(120px);
    transition: transform 3000ms cubic-bezier(0, -0.005, 0.08, 1) 0s;
}

.scrollable.slide_effect {
    transform: translateY(0);
}

.overflow {
    overflow: hidden;
}

.img-size {
    width: 100%;
    height: auto;
}

li:hover {
    border-bottom: 1px solid white;
    color: black;
}

img.logo {
    width: 100px;
}

.project-sec {
    border: 1px solid #000;
    overflow: hidden;
}

img.img-size.img_opacity:hover {
    transform: scale(1.2);
    transition: transform .4s;
    cursor: pointer;
}

img.img-size.img_opacity {
    transition: transform .4s;
}

.bk-logo-color {
    background: linear-gradient(45deg, #941111, transparent);
}


/* first section modal and video inline end */

@media (min-width: 320px) {
    .text-dark {
        font-size: 1.2rem;
    }
}

.img-rtl-1 {
    opacity: 0;
    transform: translateX(560px);
}


/* contact us Start */

#contactUs {
    background-image: url('https://images.unsplash.com/photo-1554435493-93422e8220c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=376&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#contactUs #contact_form {
    background-color: white;
    opacity: 0.8;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

#contactUs .input-item {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

#contactUs .input-label {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 15px;
}

#contactUs .req-item {
    color: red;
}

#contactUs .btn {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: lightgreen;
    font-weight: 2px;
}


/* contact us  End */